body{
  font-family: 'Open Sans', sans-serif
}

#container{
  width: 80%;
  height:60%;
  margin:20px auto;
  background-color: grey;
   margin-top:40%;
  
}

#resultado{
 text-align:center;
 font-size: 60px
}
